
/* header.css */
.headerCom {
    display: flex;
    justify-content: space-between; /* Space out items */
    align-items: center;           /* Center items vertically */
    padding: 10px 20px;            /* Add padding around the header */
    background-color: #17434b;        /* Example background color */
    color: white;     
    box-shadow: 2px 0 25px rgba(0, 0, 0, .5);             /* Example text color */
  }
  
  .logo img {
    height: 50px;                  /* Ensure image size */
  }
  
  .nav ul {
    list-style: none;              /* Remove default list styling */
    margin: 0;                     /* Remove default margin */
    padding: 0;                    /* Remove default padding */
                     /* Align list items horizontally */
  }
  
  .nav li {
    margin: 0 15px;                /* Space between menu items */
  }
  
  .nav a {
    color: white;                  /* Example text color */
    text-decoration: none;         /* Remove underline from links */
  }
  
  .nav a:hover {
    text-decoration: underline;    /* Underline on hover */
  }
  
  .user-profile a {
    color: white;                  /* Example text color */
    text-decoration: none;         /* Remove underline from link */
  }
  
  .user-profile a:hover {
    text-decoration: underline;    /* Underline on hover */
  }
  